///// COLOR VARIABLES

$purple1: RGBA(101, 45, 134, 1);
$blue: RGBA(0, 57, 166, 1);
$green: RGBA(0, 155, 72, 1);
$coolPurple: RGBA(56, 30, 103, 1);

$teal1: RGBA(0, 124, 146, 1);
$teal3: RGBA(1, 117, 142, 1);
$coolTeal: RGBA(0, 177, 185, 1);
$deepPurple2: RGBA(29, 16, 96, 1);
$deepPurple3: RGBA(32, 23, 70, 1);

$newLime: RGBA(204, 255, 0, 1); // better on black bg
$teal2: RGBA(0, 141, 169, 1);
$deepPurple1: RGBA(36, 0, 120, 1);

$lime1: RGBA(157, 224, 29, 1);      // #9DE01D
$black22: RGBA(34, 34, 34, 1);



///// GLOBAL STYLE

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.iB {
    display: inline-block;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.2em rgba(34, 34, 34, 0.1);
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

// .container {
//     padding-top: 50px;
// }


///// HEADER

.topMenuBar {
    padding: 0em;                   // 1em or 2em before div below
    background: $black22;
    color: white;
    // position: fixed;
    width: 100%;
    // z-index: 2;

    div {
        // margin: 0em 0 0 1.5em;
        // padding: 0 0 1em .75em;
        // transform: rotate(90deg);
        // transform-origin: left top 0;
        // font-size: 1.75em;
    }

    a {
        color: white;
    }

    a:hover {
        // color: $lime1;
        color: $newLime;
    }

    div:nth-child(1) {                  // button container
        padding: 16px 0 16px 32px;
        background: $black22;
        height: 52px;
    }

    button {
        height: 18px;                   // behaves as width though due to transform below
        width: 18px;                    // behaves as height though due to transform below
        // padding: 0 0 1em .75em;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;

        font-size: 1em;
        // letter-spacing: 2px;
        color: white;
        background: $black22;
        border: 0;
    }

    button:hover {
        // color: $lime1;
        color: $newLime;
        cursor: pointer;
    }

    button:focus {
        outline: 0;
    }
}

.header {
    // border-top: 1px solid $deepPurple1;
    height: 320px;              // 20em
}

.imgSlider {

    width: 42.5%;
    height: 320px;

        img {
                width: 100%;
                height: 320px;              // 20em;
            }

}

.sliderMenu {
    // display: none;
    position: absolute;                 // haven't made parent element relative yet but working anyway...
    top: 52px;
    left: 0;
    width: 42.5%;
    height: 320px;
    vertical-align: top;
    background: $lime1;
    // background: $newLime;
    padding: 1em 0 1em 2.5em;
    font-size: 1em;
    font-family: 'Julius Sans One', sans-serif;
    opacity: 0.825;
    z-index: 2;


    a {
        color: $deepPurple1;
    }

    a:hover {
        color: white;
    }

    p {
        margin: 2em 0;
        font-weight: bold;
        letter-spacing: 0.5em;
    }

    p span {
        font-family: 'garamond', 'EB Garamond', serif;
        font-weight: normal;
        letter-spacing: 0;
    }
}

.vertText {

    width: 15%;
    max-height: 320px;                  //20em;
    // min-height: 20em;
    vertical-align: top;
    // background: $lime1;
    // background: $deepPurple1;
    // padding-top: 0.5em;

        h1, h2 {

            // letter-spacing: 0.5em;
            color: $black22;
            // color: $deepPurple1;

            font-weight: bold;
            font-family: 'Julius Sans One', sans-serif;
            // font-family: 'Racing Sans One', cursive;
            // font-family: 'Luckiest Guy', cursive;
            // font-family: 'Cabin', sans-serif;

            text-shadow: 0.1em 0.1em 0.2em rgba(34, 34, 34, 0.1);
            // text-shadow: 0px 2px 2px rgba(157, 224, 29, 0.2);
            // text-shadow: 0.1em 0.1em 0.2em rgba(36, 0, 120, 0.1);

            // width: 1em;
            // letter-spacing: 5em;
            // word-wrap: break-word;
            // margin: 1.25em 0 1.25em;
        }

        h2 {
            letter-spacing: 0.5em;
            margin: 1em 0 0.7em 0.5em;
        }

        h1 {
            // margin-left: 0.25em;
            // font-family: 'Cabin', sans-serif;

            // width: 100%;                    // 1em;
            // letter-spacing: 5em;
            // word-wrap: break-word;
            margin: 0.25em auto;
            // letter-spacing: 0;

        }

        h1:nth-of-type(2), h1:nth-of-type(3), {
            margin-left: 0.125em;
        }

        h1:nth-of-type(4) {
            margin-bottom: 0.8em;
        }

        a {
            color: $deepPurple1;
            text-shadow: 0.1em 0.1em 0.2em rgba(36, 0, 120, 0.1);
            margin: 0 0.5em;
        }

        a:hover {
            color: $lime1;
        }

}


///// CONTENT SECTIONS

.section {

    h2 {
        margin: 0;
        border-top: 2px solid $deepPurple1;
        font-family: 'Julius Sans One', sans-serif;
        // font-family: 'Cabin', sans-serif;
        text-shadow: 0.1em 0.1em 0.2em $deepPurple1;
        font-size: 2.5em;
        padding: 1em 0;
        background: $black22;
        // color: $lime1;
        color: $newLime;
    }

}

.sectionContent {
    padding: 2em 10%;
    text-align: center;

    p {
        margin: 1em 0;
        line-height: 2em;
        font-family: 'Julius Sans One',sans-serif;
    }
}


///// PROJECTS

.project {
    // position: relative;
    width: 85%;
    height: 100%;
    margin: 3em auto 3em;
    // border-bottom: 1px dotted white;
}

// .last {
//     border-bottom: none;
// }

.projectSS {
    display: inline-block;
    width: 43%;

    .Right {
        margin-left: 10%;
    }

    .Left {
        margin-right: 10%;
    }
    
    img {
        width: 100%;
        // height: 13em;
        border-radius: 1px;
    }

    p {
        margin: 0 auto;
    }
}

.mThai {
    background: url('../images/mThaiSS.png');
}

.WGN {
    background: url('../images/WGNSS.png');
}

.TBBG {
    background: url('../images/TBBSS.png');
}

.SSContainer {                  // THESE STYLES MUST COME AFTER EACH PROJECT URL ABOVE OR ELSE REPEATED INSIDE EACH SELECTOR
    background-size: 100% 100%;
    height: 206px;                   // 13em (206px)
    border: 1px solid $deepPurple1;
    border-radius: 1px;
}

.blackRollUp {
    height: 100%;
    opacity: 0.75;
    background: black;
    box-sizing: border-box;
    padding: 2.5em 1em;
    text-align: center;        
    // transition: 2;
    // visibility: hidden;

    color: white;
    font-size: 1.5em;
    line-height: 1.25em;
}

// .hidden {
//     visibility: hidden;
// }

// .showing {
//     visibility: visible;
// }

.projectRC {
    display: inline-block;
    vertical-align: top;
    width: 57%;

    h4 {
        font-family: 'Julius Sans One', sans-serif;
        // font-family: 'garamond', 'EB Garamond', serif;
        color: white;
        background: $deepPurple1;
        padding: 0.85em;
    }

    p {
        width: 90%;
        margin: 0 auto;                 // 1em auto on portfolio version 1.0
        // text-shadow: 0px 2px 2px rgba(36, 0, 120, 0.2);
    }

    .bodyGraf {
        margin-top: 1.25em;
        font-family: 'Garamond', 'EB Garamond', serif;
        font-size: 80%;
    }

    .projectLink {
        color: $lime1;
        font-size: 87.5%;
        margin-top: 0.5em;
    }

    .projectLink a {
        font-weight: bold;
        color: $deepPurple1;
    }

    .projectLink a:hover {
        color: $lime1;
        text-shadow: 0.1em 0.1em 0.2em rgba(34, 34, 34, 0.1);
    }

    .blackRollUp {
        border-radius: 8px;
    }
}

.whiteDotBtm {
    padding-top: 0.75em;
    padding-bottom: 1.5em;
    border-bottom: 1px dotted $lime1;
    text-shadow: 0.1em 0.1em 0.2em rgba(34, 34, 34, 0.1);
}


.shrunkPic {
    margin: 1em 0;
    border: 1px solid $deepPurple1;
    // box-sizing: border-box;
    border-radius: 9px;

    p {
        width: 100%;
    }
}


.leftM {
    position: absolute;
    height: 57.5%;
    // margin: 3em 0;
    margin-left: -20%;
    width: 15%;
}

.leftMRG {
    position: absolute;
    height: 57.5%;
    left: 0;
    width: 15%;
}

.rightM {
    position: absolute;
    height: 57.5%;
    left: 85%;
    width: 15%;
    // margin: 3em 0;
}




///// FUN FACTS

.sliderFFContainer {

    a {
        color: $deepPurple1;
        font-weight: bold;
        text-shadow: 0.1em 0.1em 0.2em rgba(36, 0, 120, 0.1);
    }

    a:hover {
        color: $lime1;
    }

    button {
        color: white;
        background: $deepPurple1;
        border-radius: 7px;
        border: 1px solid white;
        padding: 0.375em 0.75em;
        outline: 0;
        transition-property: background;
        transition-duration: 0.25s;
        transition-timing-function: linear;
    }

    button:hover {
        color: $deepPurple1;
        background: white;
        border: 1px solid $deepPurple1;
    }

    button:active {
        border: none;
    }

}


///// GEOCHART

h5 {
    // margin-top: 1em;
    font-family: 'Julius Sans One',sans-serif;
}

#regions_div {
    margin: 2em auto;
    width: 75%;
    height: 400px;
}


///// CONTACT

.iconLinks {

        margin: 2em auto 0.5em;

    a {
        font-family: 'Julius Sans One',sans-serif;
        color: $black22;
        // margin: 0 1em;
    }

    a:hover {
        color: $deepPurple1;
    }

    .two {
        display: inline-block;
        margin: 0 1em 1.5em;
        width: 178px;
    }

    span {
        font-size: 4em;
        text-align: center;
        width: 100%;
    }

    .middle {
        font-size: 1em;
    }

    p {
        margin-bottom: 0;
    }

}


///// HEADER MEDIA QUERIES

@media (min-width: 1005px) and (max-width: 1274px) {

    .vertText {

        h2 {
            letter-spacing: 0.25em;
            margin: 1em 0 0.7em 0.25em;
        }

        a {
            color: $deepPurple1;
            text-shadow: 0.1em 0.1em 0.2em rgba(36, 0, 120, 0.1);
            margin: 0 0.25em;
        }

    }

}

@media (max-width: 1005px) {                    // 800 px

    .header .sliderMenu:nth-child(1) {
        width: 70%; 
    }
    
    .header .imgSlider:nth-child(2) {
        width: 70%; 
    }

    .header .imgSlider:nth-child(4) {
        display: none;   
    }

    .vertText {
        width: 30%;
    }
}

@media (max-width: 630px) {

    .header .sliderMenu:nth-child(1) {
        padding: 20px 0 20px 1em;                   // Used pixels here and in selector below (as opposed to ems in global style) to alleviate spacing imperfection on mobile               
    }

    .header .sliderMenu:nth-child(1) p {
        height: 40px;
        margin: 1em 0;
    }

    .vertText {

        h2 {
            font-size: 90%;
        }

        h1:nth-of-type(4) {
            margin-bottom: 0.4em;
        }

        .vLDiv {
            width: 50px;
            margin: 0.4em 0;
        }

    }

}

@media (max-width: 394px) {

    .vertText {

        h2 {
            font-size: 75%;
        }

        .vLDiv {
            width: 40px;
            margin: 0.5em 0;
        }

        .vLDiv span {
            font-size: 150%;
        }

    }
}

@media (max-width: 320px) {

    .vertText {

        h2 {
            font-size: 50%;
            margin: 1em 0.2em 0.7em 0.2em;
        }
    }

    .sliderMenu {
        font-size: 0.75em;
    } 
}

@media (max-width: 279px) {

        .vertText {

            .vLDiv {
                width: 36px;
                margin: 0.25em 0;
            }

            .vLDiv span {
                font-size: 120%;
            }
        }
}


///// PROJECTS MEDIA QUERIES

@media (min-width: 1177px) {
    .shrunkPic {
        display: none;
    }
}

@media (min-width: 1177px) and (max-width: 1276px) {
    
    .projectRC {
        width: 60%; 
    }
        
    .projectSS {
        width: 40%;
    }
}

@media (max-width: 1176px) {
    
    .projectSS {
        display: none;
    }

    .projectRC {
        width: 100%;
    }

    .shrunkPic {
        display: normal;
        // width: 100%;
        background-size: 100% 100%;
        height: 13em;
    }

    // .shrunkPic img {
    //     width: 100%;
    // }
}

@media (max-width: 600px) {
    .sideNav span {
        font-size: 100%;
        // margin-top: 1em;
    }
}

@media (min-width: 601px) and (max-width: 712px) {
    .shrunkPic {
        margin: 1em 2.5em;
    }
}

@media (min-width: 713px) and (max-width: 881px) {
    .shrunkPic {
        margin: 1em 5em;
    }
}

@media (min-width: 882px) and (max-width: 1060px) {
    .shrunkPic {
        margin: 1em 7em;
    }
}

@media (min-width: 1061px) and (max-width: 1176px) {
    .shrunkPic {
        margin: 1em 9.5em;
    }
}


@media (max-width: 377px) {
    .twoLinezDeep {
        padding: 1.5em 1em;
    }
}

@media (max-width: 311px) {
    .twoLinezDeep {
        font-size: 120%;
    }
}

@media (max-width: 505px) {
    .threeLinezDeep {
        padding: 1.5em 1em;
    }
}

@media (max-width: 358px) {
    .threeLinezDeep {
        font-size: 120%;
    }
}


///// FUN FACTS MEDIA QUERIES

@media (max-width: 786px) {
    .fFact p {
        // font-family: 'garamond', 'EB Garamond', serif;
        font-size: 80%;
    }
}

@media (max-width: 479px) {
    .fFact p.smallerFont {
        font-size: 60%;
        
    }

    .fFact p {
        font-family: 'garamond', 'EB Garamond', serif;
    }
}

///// GEOCHART MEDIA QUERIES

@media (min-width: 1001px) and (max-width: 1296px) {
    #regions_div {
        width: 87.5%;
    }
}

@media (max-width: 1000px) {
    #regions_div {
        width: 100%;
    }
}

