// $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// @import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

// .browsehappy {
//     margin: 0.2em 0;
//     background: #ccc;
//     color: #000;
//     padding: 0.2em 0;
// }

// /* Space out content a bit */
// body {
//     padding-top: 20px;
//     padding-bottom: 20px;
// }

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//     padding-left: 15px;
//     padding-right: 15px;
// }

// /* Custom page header */
// .header {
//     border-bottom: 1px solid #e5e5e5;

//     /* Make the masthead heading the same height as the navigation */
//     h3 {
//         margin-top: 0;
//         margin-bottom: 0;
//         line-height: 40px;
//         padding-bottom: 19px;
//     }
// }

// /* Custom page footer */
// .footer {
//     padding-top: 19px;
//     color: #777;
//     border-top: 1px solid #e5e5e5;
// }

// .container-narrow > hr {
//     margin: 30px 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//     text-align: center;
//     border-bottom: 1px solid #e5e5e5;
//     .btn {
//         font-size: 21px;
//         padding: 14px 24px;
//     }
// }

// /* Supporting marketing content */
// .marketing {
//     margin: 40px 0;
//     p + h4 {
//         margin-top: 28px;
//     }
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }

//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }

//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }



// COLOR VARIABLES

$purple1: RGBA(101, 45, 134, 1);
$blue: RGBA(0, 57, 166, 1);
$green: RGBA(0, 155, 72, 1);
$coolPurple: RGBA(56, 30, 103, 1);

$teal1: RGBA(0, 124, 146, 1);
$teal3: RGBA(1, 117, 142, 1);
$coolTeal: RGBA(0, 177, 185, 1);
$deepPurple2: RGBA(29, 16, 96, 1);
$deepPurple3: RGBA(32, 23, 70, 1);

$newLime: RGBA(204, 255, 0, 1);
$teal2: RGBA(0, 141, 169, 1);
$deepPurple1: RGBA(36, 0, 120, 1);

$lime1: RGBA(157, 224, 29, 1);      // #9DE01D
$black22: RGBA(34, 34, 34, 1);




// GLOBAL STYLE

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.iB {
    display: inline-block;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
    color: $lime1;
    text-shadow: 0.1em 0.1em 0.2em rgba(34, 34, 34, 0.1);
}

.italic {
    font-style: italic;
}

// .container {
//     padding-top: 50px;
// }


// HEADER

.topMenuBar {
    padding: 1em;
    background: $black22;
    color: white;
    // position: fixed;
    width: 100%;
    // z-index: 2;
}

.header {
    // border-top: 1px solid $deepPurple1;
    height: 320px;              // 20em
}

.imgSlider {

    width: 42.5%;
    height: 320px;

        img {
                width: 100%;
                height: 320px;              // 20em;
            }

}

.vertText {

    width: 15%;
    max-height: 320px;                  //20em;
    // min-height: 20em;
    vertical-align: top;
    // background: $lime1;
    // background: $deepPurple1;
    // padding-top: 0.5em;

        h1, h2 {

            // letter-spacing: 0.5em;
            color: $black22;
            // color: $deepPurple1;

            font-weight: bold;
            font-family: 'Julius Sans One', sans-serif;
            // font-family: 'Racing Sans One', cursive;
            // font-family: 'Luckiest Guy', cursive;
            // font-family: 'Cabin', sans-serif;

            text-shadow: 0.1em 0.1em 0.2em rgba(34, 34, 34, 0.1);
            // text-shadow: 0px 2px 2px rgba(157, 224, 29, 0.2);
            // text-shadow: 0.1em 0.1em 0.2em rgba(36, 0, 120, 0.1);

            // width: 1em;
            // letter-spacing: 5em;
            // word-wrap: break-word;
            // margin: 1.25em 0 1.25em;
        }

        h2 {
            letter-spacing: 0.5em;
            margin: 1em 0 0.7em 0.5em;
        }

        h1 {
            // margin-left: 0.25em;
            // font-family: 'Cabin', sans-serif;

            // width: 100%;                    // 1em;
            // letter-spacing: 5em;
            // word-wrap: break-word;
            margin: 0.25em auto;
            // letter-spacing: 0;

        }

        h1:nth-of-type(2), h1:nth-of-type(3), {
            margin-left: 0.125em;
        }

        h1:nth-of-type(4) {
            margin-bottom: 0.8em;
        }

        a {
            color: $deepPurple1;
            text-shadow: 0.1em 0.1em 0.2em rgba(36, 0, 120, 0.1);
            margin: 0 0.4em;
        }

        a:hover {
            color: $lime1;
        }

}


// CONTENT SECTIONS

.section {

    h2 {
        margin: 0;
        border-top: 2px solid $deepPurple1;
        font-family: 'Julius Sans One', sans-serif;
        // font-family: 'Cabin', sans-serif;
        text-shadow: 0.1em 0.1em 0.2em $deepPurple1;
        font-size: 2.5em;
        padding: 1em 0;
        background: $black22;
        color: $lime1;
        color: RGBA(204, 255, 0, 1);
    }

}

.sectionContent {
    padding: 2em 10%;
    text-align: center;

    p {
        margin: 1em 0;
        line-height: 2em;
        font-family: 'Julius Sans One',sans-serif;
    }
}


// PROJECTS

.project {
    // position: relative;
    width: 85%;
    height: 100%;
    margin: 3em auto 3em;
    // border-bottom: 1px dotted white;
}

// .last {
//     border-bottom: none;
// }

.projectSS {
    display: inline-block;
    width: 43%;

    .Right {
        margin-left: 10%;
    }

    .Left {
        margin-right: 10%;
    }
    
    img {
        width: 100%;
        // height: 13em;
        border-radius: 1px;
    }

    p {
        margin: 0 auto;
    }
}

.mThai {
    background: url('../images/mThaiSS.png');
}

.WGN {
    background: url('../images/WGNSS.png');
}

.TBBG {
    background: url('../images/TBBSS.png');
}

.SSContainer {                  // THESE STYLES MUST COME AFTER EACH PROJECT URL ABOVE OR ELSE REPEATED INSIDE EACH SELECTOR
    background-size: 100% 100%;
    height: 13em;
    border: 1px solid $deepPurple1;
    border-radius: 1px;
}

.blackRollUp {
    height: 100%;
    opacity: 0.75;
    background: black;
    box-sizing: border-box;
    padding: 2.5em 1em;
    text-align: center;        
    // transition: 2;
    // visibility: hidden;

    color: white;
    font-size: 1.5em;
    line-height: 1.25em;

}

// .hidden {
//     visibility: hidden;
// }

// .showing {
//     visibility: visible;
// }

.projectRC {
    display: inline-block;
    vertical-align: top;
    width: 57%;

    h4 {
        font-family: 'Julius Sans One', sans-serif;
        // font-family: garamond;
        color: white;
        background: $deepPurple1;
        padding: 0.85em;
    }

    p {
        width: 90%;
        margin: 0 auto;                 // 1em auto on portfolio version 1.0
        // text-shadow: 0px 2px 2px rgba(36, 0, 120, 0.2);
    }

    .bodyGraf {
        margin-top: 1.25em;
        font-family: garamond;
        font-size: 80%;
    }

    .noMargin {
        font-size: 87.5%;
        margin-top: 0.5em;
    }

    .noMargin a {
        font-weight: bold;
        color: $black22;
    }

    .noMargin a:hover {
        color: $deepPurple1;
    }
}

.whiteDotBtm {
    padding-top: 0.75em;
    padding-bottom: 1.5em;
    border-bottom: 1px dotted $lime1;
    text-shadow: 0.1em 0.1em 0.2em rgba(34, 34, 34, 0.1);
}



.chart h5 {
    margin: -2em 0 4em;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}

#regions_div {
    margin: 2em auto;
    width: 85%;
    height: 400px;
}

.contactInfo {
    width: 85%;
    margin: 0 auto;

    .iconLinks {
        margin: 0 auto;
        text-align: center;
        // background: white;
    }

    a {
        color: black;
        // margin: 0 1em;
    }

    a:hover {
        color: $deepPurple1;
    }

    .two {
        display: inline-block;
        margin: 0 1em;
    }

    .relative {
        position: relative;
    }

    span {
        font-size: 4em;
        text-align: center;
        width: 100%;
    }

    .middle {
        font-size: 1em;
    }
}

.shrunkPic {
    margin: 1em 0;
    border: 1px solid $deepPurple1;
    // box-sizing: border-box;
    border-radius: 13px;

    p {
        width: 100%;
    }
}


// FUN FACTS

.sliderFFContainer {

    a {
        color: $deepPurple1;
        font-weight: bold;
        text-shadow: 0.1em 0.1em 0.2em rgba(36, 0, 120, 0.1);
    }

    a:hover {
        color: $lime1;
    }

    button {
        color: white;
        background: $deepPurple1;
        border-radius: 7px;
        border: 1px solid white;
        padding: 0.375em 0.75em;
        outline: 0;
        transition-property: background;
        transition-duration: 0.25s;
        transition-timing-function: linear;
    }

    button:hover {
        color: $deepPurple1;
        background: white;
        border: 1px solid $deepPurple1;
    }

    button:active {
        border: none;
    }

}


// GEOCHART

h5 {
    // margin-top: 1em;
    font-family: 'Julius Sans One',sans-serif;
}

#regions_div {
    margin: 2em auto;
    width: 62.5%;
    height: 400px;
}


// CONTACT

.iconLinks {

        margin: 2em auto;

    a {
        font-family: 'Julius Sans One',sans-serif;
        color: $black22;
        // margin: 0 1em;
    }

    a:hover {
        color: $deepPurple1;
    }

    .two {
        display: inline-block;
        margin: 0 1em;
    }

    span {
        font-size: 4em;
        text-align: center;
        width: 100%;
    }

    .middle {
        font-size: 1em;
    }

    p {
        margin-bottom: 0;
    }

}


// MEDIA QUERIES

@media (min-width: 1177px) {
    .shrunkPic {
        display: none;
    }

}

@media (min-width: 1177px) and (max-width: 1276px) {
    .projectRC {
        width: 60%; 
    }
        
    .projectSS {
        width: 40%;
    }

}

@media (max-width: 1176px) {
    .projectSS {
        display: none;
    }

    .projectRC {
        width: 100%;
    }

    .shrunkPic {
        display: normal;
        // width: 100%;
        background-size: 100% 100%;
        height: 13em;
    }

    // .shrunkPic img {
    //     width: 100%;
    // }
}

@media (max-width: 600px) {
    .sideNav span {
        font-size: 100%;
        // margin-top: 1em;
    }
}

@media (min-width: 601px) and (max-width: 712px) {
    .shrunkPic {
        margin: 1em 2.5em;
    }
}

@media (min-width: 713px) and (max-width: 881px) {
    .shrunkPic {
        margin: 1em 5em;
    }
}

@media (min-width: 882px) and (max-width: 1060px) {
    .shrunkPic {
        margin: 1em 7em;
    }
}

@media (min-width: 1061px) and (max-width: 1176px) {
    .shrunkPic {
        margin: 1em 9.5em;
    }
}



